{{>dashboard-header}}

<div class="stadium-content">
	
	<div class="stadium-photos">
		<img src="{{image baseurl 'full-wall.jpg'}}">
		<h5>Përshkrimi</h5>
		<p>Texas Holdem is by far the most common for of poker played today due to is popularity there are even several TV shows of the game. Besides being popular texas Holdem is also the best game for a beginner to learn, the game can be learned after a few minutes and afte just a few hours of practice you can be playing fairly well against other beginners, but to really get good you must play often.</p>
	</div>
	{{>reservation-price}}
</div>