<div class="dashboard-header">
	<div class="dashboard-info">		
		<header class="header">
			<div class="header-padding">		
				<div class="logo-section">		
					<a href="home.html">	
						<img src="{{image baseurl 'soccer.svg'}}" class="logo">
						<h2>Terminet</h2>
					</a>
				</div>
				<a href="home.html" class="log-out">Log out</a>		
			</div>

		</header>
		<div class="area-and-user">			
			<div class="user-area-info">
				<i class="fa fa-futbol-o" aria-hidden="true"></i>
				<h4>Prince Sport Center</h4>			
			</div>
			<div class="area-links">
				<a href="dashboard-reservation.html" >Terminet</a>
				<a href="dashboard-info.html" class="cur-anch">Info</a>
			</div>
		</div>
	</div>
</div>
<div class="calendar-and-managment-section"> 
{{>calendar}}
{{>managment-section}}

</div>