<div class="tab">
<h2>Terminet</h2>


	<ul class="tabs">
		<li><a href="#" class="active">Sot</a></li>
		<li><a href="#">Neser</a></li>
		<li><a href="#">E Enjte</a></li>
		<li><a href="#">E Premte</a></li>
		<li><a href="#">E Shtune</a></li>
		<li><a href="#">E Diel</a></li>
		<li><a href="#">E Hënë</a></li>
	</ul> <!-- / tabs -->			
	
	<!-- / This is only for mobile screen -->
	<div class="container">
  <div class="select">
    <div class="input">
    </div>
    <div class="select-options">
      <ul class="tabs">
        <li>
          <span><a href="#" class="active">Sot</a></span> 
        </li>
         <li>
          <span><a href="#" >Neser</a></span> 
        </li>
        <li>
          <span><a href="#" >E Enjte</a></span> 
        </li>
          <li>
          <span><a href="#" >E Premte</a></span> 
        </li>
          <li>
          <span><a href="#" >E Shtune</a></span> 
        </li>
         <li>
          <span><a href="#" >E Diell</a></span> 
        </li>
         <li>
          <span><a href="#" >E Hene</a></span> 
        </li>
      </ul>
    </div>
  </div>

</div><!-- / This is only for mobile screen -->

	<div class="tab_content">

		<div class="tabs_item">
			<div class="free">
				
				<h4>Të lira:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
			<div class="busy">
			<h4>Të nxëna:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
		</div> 
		<!-- / tabs_item -->	
		<div class="tabs_item">
			<div class="free">				
				<h4>Të lira:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
			<div class="busy">
			<h4>Të nxëna:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
		</div> <!-- / tabs_item -->	
		<!-- / tabs_item -->	
		<div class="tabs_item">
			<div class="free">				
				<h4>Të lira:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
			<div class="busy">
			<h4>Të nxëna:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
		</div> <!-- / tabs_item -->	
		<!-- / tabs_item -->	
		<div class="tabs_item">
			<div class="free">				
				<h4>Të lira:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
			<div class="busy">
			<h4>Të nxëna:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
		</div> <!-- / tabs_item -->	
		<!-- / tabs_item -->	
		<div class="tabs_item">
			<div class="free">				
				<h4>Të lira:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
			<div class="busy">
			<h4>Të nxëna:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
		</div> <!-- / tabs_item -->	
		<!-- / tabs_item -->	
		<div class="tabs_item">
			<div class="free">				
				<h4>Të lira:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
			<div class="busy">
			<h4>Të nxëna:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
		</div> <!-- / tabs_item -->	
		<!-- / tabs_item -->	
		<div class="tabs_item">
			<div class="free">				
				<h4>Të lira:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
			<div class="busy">
			<h4>Të nxëna:</h4>
				<div class="item-div">				
					<a href="#" class="button">Ora:15:00</a>
					<a href="#" class="button">Ora:16:00</a>
					<a href="#" class="button">Ora:17:00</a>
					<a href="#" class="button">Ora:18:00</a>
					<a href="#" class="button">Ora:19:00</a>
				</div>
			</div>
		</div> <!-- / tabs_item -->	
									
</div> <!-- / tab -->
