<!-- This is the first modal -->
<div class="other-modal reveal" id="exampleModal3" data-reveal>
  <h2 class="head-title">Shto Terminin</h2>
  <div class="about-reservation">
    <h4>Pershkrimi</h4>
    <p>Motivation The Defining Moment Of Self Improvement</p>
  </div>
  <div class="phone-number-res">
    <h4>Numri I telefonit</h4>
  </div>
  <div class="res-hour">
    <h4>Ora e Terminit:</h4>
    <span>19:00-20:00</span>
  </div>
  <div class="res-buttons">
    <button class="cancel-button2" data-close aria-label="Close reveal" type="button">Anulo</button>
    <button class="add-button2" data-close aria-label="Close reveal" type="button">Shto</button>  
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

