

<div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <div class="modal-heading">   
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div>
     <h4 class="modal-h4">Shto Terminin</h4>
    </div>
  </div>
     <div class="definition">
     	<h4>Pershkrimi</h4>
     	<p>Motivation The defining Moment Of Self Imporiement </p>
     </div>
     <div class="phone-number">
     	<h4>Numri i Telefonit</h4>
     </div>
     <div class="reservation-hour">
      <h4 >Ora E Terminit:</h4>
      
      <div class="time-pick">
        <span>19:00</span>-
        <span>20:00</span>
      </div>
     </div>
    <br>
    <div class="button-section">
      
      <button data-remodal-action="cancel" class="remodal-cancel">Anulo</button>
      <button data-remodal-action="confirm" class="remodal-confirm">Shto</button>
    </div>
</div>
