<!-- This is the first modal -->
<div class="other-modal reveal" id="exampleModal2" data-reveal>
  <h2 class="head-title">Shto Terminin</h2>
  <div class="about-reservation">    
    <label for="qual">Pershkrimi</label>
    <textarea name="comment" rows="4" form="usrform" placeholder="Motivation The Defining Moment Of Self Improvement"></textarea>         
  </div>
  <div class="phone-number-res">
     <label for="qual">Numri I Telefonit</label>
      <textarea name="comment" rows="4" form="usrform" placeholder="049 700 700" class="numberinput"></textarea>
  </div>
  <div class="res-hour">
    <h4>Ora e Terminit:</h4>
    <span>19:00-20:00</span>
  </div>
  <div class="res-buttons">
    <button class="cancel-button" data-close aria-label="Close reveal" type="button">Anulo</button>
    <button class="add-button" data-close aria-label="Close reveal" type="button">Shto Terminin</button>  
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button> 
</div>