.third-select-width {
  width: 325px;
  margin-right: 0px;
  z-index: 9;
  .hours-input {   
    border: 1px solid transparent;
    background-color:$white; 
    border-radius: 0px;
    padding: 12px 17px;
    color: #0a184a;
    font-family:$alt-font-family  !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 16px;
    position: relative;         
  }
  .hours-select {      
    cursor: pointer;
    position: relative;   
    .hours-input {
      background-image: none, url('../images/arrow-down.svg');
      background-position: right .75rem center;
      background-repeat: no-repeat;
      background-size: .75rem; 
    }
     @include breakpoint(xs-small only) {      
      z-index: 0;
    }   
  }
  .hours-select-options {
    border: 0px ;
    position: absolute;
    width: 100%;
    border-radius: 0px;
    z-index: 100;
    top: 80px;
    left: 0;
    padding-top: 10px;
    display: none;
    background-color:$white;
    &.visible {
      display: block;
    }
    ul {

      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 18px 50px 18px 16px;        
        font-size: 14px;
       
        color: #0a184a;
        font-family:$alt-font-family  !important;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        font-size: 16px;
        position: relative;
        overflow: hidden;
        &:hover {
          background-color: $primary-color;
          color: $white;
        }
        &:first-child {
          display: none;
        }
        &:last-child {
          border-bottom: 0;
        }
        &.selected {
          background-color:$primary-color;
          color: $white;
          > span:first-child {
            
          }
          &:after {
            content: '';
            width: 5px;
            height: 10px;
            border: 1px solid $white;
            border-right: 0;
            border-bottom: 0;
            left: calc(100% - 20px);
            top: 50%;
            transform: translateY(-50%) rotate(-135deg);
            position: absolute;
          }
        }
      }
    }
    &:after {
      position: absolute;
      content: '';
      top: -9px;
      left: 10%;
      border-top:1px solid transparent;
      border-left:1px solid transparent;
      background-color:$white;
      width: 17px;
      height: 17px;
      transform: rotate(45deg);
    }
    @include breakpoint(xs-small only) {
      position: absolute;
      top: 65px;
    }
    @include breakpoint(small only) {
      position: absolute;
      top: 65px;
    }
  }
  @include breakpoint(xs-small only) {
    width: 100%;
    margin-bottom: 20px;
    z-index: 1;
  }
  @include breakpoint(small only) {
    width: 100%;
    margin-bottom: 20px;
    z-index: 1;
  }  
  @include breakpoint(small only) {
    width: 100%;
    margin-bottom: 20px;
    z-index: 1;
  }  
}