.info-select-width {
  width:260px;
  
    
  margin-right: 0px;
  margin-left: 0px;
  z-index: 1;
  .info-input {
     
    border: 1px solid #e0e0e0;
    background-color:$white; 
    border-radius: 0px;
    padding: 12px 17px;
    color: $black;
    font-weight: 400;
    font-size: 14px;
    position: relative;         
  }

  .info-select {        
    cursor: pointer;
    position: relative;     
    .info-input {
      background-image: none, url('../images/arrow-down.svg');
      background-position: right .75rem center;
      background-repeat: no-repeat;
      background-size: .75rem; 
    }

  }

  .info-select-options {
    border: 1px solid #e0e0e0;
    position: absolute;
    width: 100%;
    border-radius: 0px;
    z-index: 100;
    top: 80px;
    left: 0;
    padding-top: 10px;
    display: none;
    background-color:$white;
    &.visible {
      display: block;
    }
    ul {

      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 18px 50px 18px 16px;
        
        font-size: 14px;
        color: #0a184a;
        font-weight: 400;
        position: relative;
        overflow: hidden;
        &:hover {
          background-color: $primary-color;
          color: $white;
        }
        &:first-child {
          display: none;
        }
        &:last-child {
          border-bottom: 0;
        }
        &.selected {
          background-color:$primary-color;
          color: $white;
          > span:first-child {
            
          }
          &:after {
            content: '';
            width: 5px;
            height: 10px;
            border: 1px solid $white;
            border-right: 0;
            border: 1px solid #e0e0e0;
            left: calc(100% - 20px);
            top: 50%;
            transform: translateY(-50%) rotate(-135deg);
            position: absolute;
          }
        }
      }
    }
    &:after {
      position: absolute;
      content: '';
      top: -9px;
      left: 10%;
      border-top:1px solid #e0e0e0;
      border-left:1px solid #e0e0e0;
      background-color:$white;
      width: 17px;
      height: 17px;
      transform: rotate(45deg);
    }
  }     
}