.modal-s {
    background: url('../images/search-2.svg') no-repeat 8px 15px #fefefe;
    background-color:#fefefe;
    color: #4a4a4a;
    @include  grid-row();
    z-index: 99;
    color: #4a4a4a !important;
    font-family: $alt-font-family;
    font-size: 16px;
    font-weight: 400;
    box-shadow:none;
    display: none;
    position: relative;
    border:none !important;
    width: 100%;
    height: 50px;

    span {
      line-height: 50px;
      padding-right: 20px;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        top: 8px;
        left: -14px;
        width: 2px;
        height: 2px;
        background: #4a4a4a;
        border-radius:50px;

      }
      @include breakpoint(xs-small only) {
        padding-right: 15px;
      }
    }
    span:first-child:after {
      background:transparent;
    }

    @include breakpoint(xs-small only) {
      position: relative;
      top: -50px;
      width: 100%;
      z-index: 99 !important;
      display: block;
      padding-left: 40px;
      padding-right:10px;
      border:none !important;
    }
    @include breakpoint(small only) {
      position: relative;
      top: -50px;
      width: 100%;
      z-index: 99 !important;
      display: block;

      padding-left: 40px;
      padding-right:40px;
      border:none !important;
    }
  @include breakpoint(small only) {
    border:none !important;

  }
  @include breakpoint(xs-small only) {
    border:none !important;
    width: 95% !important;
  }
}
