.open-search {				
	z-index: 1;			
	background: #7f98f6;				
	margin: 0;				
	width: 162px;
	height: 42px;
	text-indent: -9999px;
	background-image: url('../images/search.svg');
	background-repeat: no-repeat;
	background-position: 70px;
	@include breakpoint(xs-small only) {  
		margin-top: 20px;  	   
	    margin-bottom: 20px;
	    text-align: center;
	    margin:auto;
	}  	
}

