.fields {
  margin-left:auto;
  padding: 0px;
  clear: both;
  input[type="file"] {
    display: block;
    opacity: 0;
    display: none;
  }
  .main-zone {
    position: relative;

  }
  .upload-field {
    float: left;
    width: 100%;

    .custom-file-upload {
      position: absolute;
      bottom: 20px;
      right: 10px;
      background-color: $white;
      color: $primary;
      text-align: left;
      display: flex;
      z-index: 999;
      padding-left: 16px;
      padding-right: 16px;
      border-radius:8px;
      cursor: pointer;
      span {
        margin-top: 20px;
        font-family: $font-family;
        font-size: 13px;
        font-weight: 500;
        line-height: 0.85;
        text-align: center;
        color: #7f98f6;
      }
      i {
        margin-right: 10px;
        color: #7f98f6;
        line-height: 50px;
        font-size: 20px;
      }

      }
  }
  @media only screen and (max-width: 4000px) and (min-width: 800px) {
  .pip {
    display: inline-block;
    width: 19%;
    position: relative;
    margin-right: 1%;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    .imageThumb {
      width: 100%;
      cursor: pointer;
      position: relative;
      height: 80px;
      img {
        width: 100%;
        }
      }
    .remove {
      border-radius:50px;
      width: 22px;
      height: 22px;
      object-fit: contain;
      background-color: rgb(182, 184, 189);
      box-shadow: 0 0 4px 0 rgb(155, 155, 155);
      border: solid 2px rgb(255, 255, 255);
      color: white;
      cursor: pointer;
      position: absolute;
      right:-5px;
      top: -10px;
      &:after {
      position: absolute;
      font-family: FontAwesome;
      content: "\f00d";
      left: 4px;
      right: 4px;
      top: -1px;
      font-size: 13px;
      }
    }
  }
  .pip:nth-child(6) {
    width: 20% !important;
    margin-right: 0% !important;
    img {
      width: 100%;

    }

  }
  .pip:nth-child(11) {
   width: 20%;
    height: 100% !important;
    margin-right: 0% !important;
    img {
      width: 100%;

    }

  }
  .pip:nth-child(16) {
    width: 20%;
    height: 100% !important;
    margin-right: 0% !important;
    img {
      width: 100%;

    }

  }

}
@include  breakpoint(medium only) {

}
@include breakpoint(small only) {
  .pip {
    display: inline-block;
    width: 49%;
    float: left;
    position: relative;
    margin-right: 1%;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    .imageThumb {
      width: 100%;
      cursor: pointer;
      position: relative;
      height: 80px;
      img {
        width: 100%;
        }
      }
    .remove {
      border-radius:50px;
      width: 22px;
      height: 22px;
      object-fit: contain;
      background-color: rgb(182, 184, 189);
      box-shadow: 0 0 4px 0 rgb(155, 155, 155);
      border: solid 2px rgb(255, 255, 255);
      color: white;
      cursor: pointer;
      position: absolute;
      right:-5px;
      top: -10px;
      &:after {
      position: absolute;
      font-family: FontAwesome;
      content: "\f00d";
      left: 4px;
      right: 4px;
      top: -1px;
      font-size: 13px;
      }
    }
  }
  .pip:nth-child(3) {
    width: 40% !important;
    margin-right: 0% !important;
    img {
      width: 100%;

    }

  }
  .pip:nth-child(11) {
   width: 20%;
    height: 100% !important;
    margin-right: 0% !important;
    img {
      width: 100%;

    }

  }
  .pip:nth-child(16) {
    width: 20%;
    height: 100% !important;
    margin-right: 0% !important;
    img {
      width: 100%;

    }

  }
}
@include breakpoint(xs-small only) {


}
  #main-product-image {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
  }

}

.sweet-alert {
  background-color:$white;
  width: 600px;
  position: fixed;
  left: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 24px 0 rgba(74, 74, 74, 0.34);
  border-radius:0px !important;
  .sa-icon.sa-warning {
    margin-top: 80px !important;
    margin-bottom:32px;
  }
  h2 {
    font-family:$font-family;
    font-size: 24px;
    color: #4a4a4a;
    font-weight: 400;
  }
  p {
      font-family:$alt-font-family;
      font-size: 15px;
      text-align: center;
      color: #626262;
      font-weight: 300;
      width: 350px;
      margin: auto;
      margin-bottom: 68px;
      line-height: 30px;
  }
  button.cancel {
    background-color:transparent;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: #c3c3c3;
    &:hover {
      background-color:transparent;
    }
  }
  button.confirm {
    box-shadow: 0 0 24px 0 rgba(74, 74, 74, 0.34);
    color: $white;
    font-family: $font-family;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    padding: 16px 12px;
    border-radius:0px;
  }
  @include breakpoint(xs-small only) {
    text-align: center;
    padding: 0px;
    max-width:100%;
    left: 0%;
    padding-bottom: 10px;
    p {
      padding-left: 20px;
      padding-right: 50px;
    }
  }
  @include breakpoint(small only) {
    text-align: center;
    padding: 0px;
    max-width:100%;
    left: 0%;
    padding-bottom: 10px;
  }
  @include breakpoint(medium only) {
    text-align: center;
    padding: 0px;
    max-width:100%;
    left: 40%;
    padding-bottom: 10px;
  }

}

@media only screen and (max-width: 640px) and (min-width: 540px)  {
  .sweet-alert {
   left: 40%;
  }
}
