.stadium-content {
	@include grid-row();
	margin-top: 45px;
	margin-bottom: 100px;
	padding: 0;
	display: -webkit-flex;
   	display: flex;
	.stadium-photos {
		width: 55%;
		margin-right: 84px;
		img {
			width: 100%;
			height: 300px;	
			margin-bottom: 56px;
		}
		h5 {
			font-family: $font-family;
			color: #8c8c8c;
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
		}
		
		.about-stat-input {
			textarea {
				float: left;
				border:1px solid  #e0e0e0;
				background-image: none;
				box-shadow:none;
				
				font-size: 15px;
			}
		}
	    @include breakpoint(xs-small only) {
			width:100%;
			margin:0px;
			padding-left: 10px;
			padding-right: 10px;
		}
		@include breakpoint(small only) {
			width:100%;
			margin:0px;
			padding-left: 10px;
			padding-right: 10px;
		}
		@include breakpoint(medium only) {
			width:100%;
			margin:0px;
			padding-left: 10px;
			padding-right: 10px;
		}
		@include breakpoint(large only) {
			width: 50%;
			margin-right: 30px;
		}
	}
	.reservation-price {
		margin-top:-5px;		
		width:40%;
				
		form {
			width: 100%;
		}
		label {
			display: block;
			font-size: 13px;
			color: #8c8c8c;
			font-weight: 500;
			margin-bottom: 9px;
			text-transform: uppercase;
		}
		input[type='text'] {
			font-family: $alt-font-family;			
			max-width: 100% !important;
			background: none;
			margin-bottom: 20px;
			border:1px solid #e0e0e0;
			height: 44px; 
			font-weight: 300;
			box-shadow: none;
			font-size: 14px;
			padding-left: 13px;
			color: #626262;
			opacity: 1;
			font-weight: 300;
		}
		.diferent-input {
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
			display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
			display: -ms-flexbox;      /* TWEENER - IE 10 */
			display: -webkit-flex;     /* NEW - Chrome */
			display: flex;    
			width: 100%;
			
			.night {
				width: 50%;
				display: flex;
				margin-right: 40px;
				input {
					text-align: center;
				}
				span {
					font-family: $alt-font-family;
					font-weight:normal;
					background: #e0e0e0;
					color: #626262;
					height: 44px;
					padding-left: 15px;
					padding-right: 15px;
					text-align: center;
					line-height: 44px;
					font-weight: 300;
				}			
				@include breakpoint(xs-small only) {
					width: 100%;					
				}
				@include breakpoint(small only) {
					width:100%;
					margin:0px;
					padding-left: 10px;
					padding-right: 10px;
				}
				@include breakpoint(medium only) {
					width:50%;										
				}
				@include breakpoint(large only) {
					width:50%;
					margin:0px;
					margin-right: 10px;
				}
			}
			.day {
				width: 50%;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
   				display: flex;
				input {
					text-align: center;
				}
				span {
					font-family: $alt-font-family;
					font-weight:normal;
					background: #e0e0e0;
					color: #626262;
					height: 44px;
					padding-left: 15px;
					padding-right: 15px;
					text-align: center;
					line-height: 44px;
					font-weight: 300;
				}	
				@include breakpoint(xs-small only) {
					width: 100%;					
				}
				@include breakpoint(small only) {
					width: 100%;					
				}
				@include breakpoint(medium only) {
					width: 50%;					
				}	
				@include breakpoint(large only) {
					width:50%;
				
				}		
			}
			@include breakpoint(xs-small only) {
				display: flex;
				flex-direction: column;
			}
			@include breakpoint(small only) {
				display: flex;
				flex-direction: column;
			}				
		}
		.radio-button-with-select {
			display: flex;
			justify-content: space-between;
			margin:0;
			.radio-buttons {									
				div.options > label {					
					font-family: $font-family;
					font-weight: regular;
					font-size: 14px !important;
					color: #626262;
					line-height: 0px;
					margin-top:0px;
					margin-left: 20px;
					margin-bottom: 20px;
					line-height:30px;
					height: 20px;
					width: 150px;
					background: transparent;
					> {
						input {
							visibility: hidden;							
						}
						img {								
							margin-left: 0px;
							color: #626262;
							padding: 10px;
							height: 20px;
							width: 20px;
							border-radius: 50px;
							margin-top: -70px;
							margin-left: -20px;
							margin-right: 100px;
							
							border: 1px solid #e0e0e0;
						}
						input:checked + img {
							background: url('../images/r-check.svg');
							background-repeat: no-repeat;
							background-position:center center;
							background-size:11px 8px;
							background-color:$primary;
							border:none;
						}
					}				
				}
				label {

				}					
			}	
			@include breakpoint(xs-small only) {
				display: flex;
				flex-direction: column;
			}
			@include breakpoint(small only) {
				display: flex;
				flex-direction: column;
			}
		}
		.info-select-idv {
			label {
			}
		}
		.submit-res {
			text-align: center;
			margin-top: 50px;
			input[type='submit'] {			
				background-color:#7f98f6;
			    border:none;
			    color:$white; 
			    font-weight: bold;
			    text-transform: uppercase;
			    font-size: 15px;
			    letter-spacing: normal; 
			    float: none;     
			    padding:15px 38px;
				@include breakpoint(xs-small only) {
					margin-left: 0px;					
				}
			}		
		}		
		@include breakpoint(xs-small only) {
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
		}
		@include breakpoint(small only) {
			width:100%;
			margin:0px;
			padding-left: 10px;
			padding-right: 10px;
		}
		@include breakpoint(medium only) {
			width:100%;
			margin:0px;
			padding-left: 10px;
			padding-right: 10px;
		}
		@include breakpoint(large only) {
			width:50%;
		}
	}
	@include breakpoint(xs-small only  ) {
		display: flex;
		flex-direction: column;
		width:100%;
	}
	@include breakpoint(small only  ) {
		display: flex;
		flex-direction: column;
		width:100%;
	}
	@include breakpoint(medium 	only ) {
		display: flex;
		flex-direction: column;
		width:100%;
	}
	@include breakpoint(large only ) {
		display: flex;
		padding-left: 20px;
		padding-right:20px;
	}
}